<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> -->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above    -->

    <link href="css/ionic.app.css" rel="stylesheet">

    <!--socket io client library-->
    <script src="https://noiseyairplanes.me:3030/socket.io/socket.io.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-socket-io/socket.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="printr" ng-controller="MainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-postive">
        <h1 class="title">printr.</h1>
        <button class="button button-icon ion-gear-a" ng-click="openNameModal()"></button>
      </ion-header-bar>
      <ion-content>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list >
          <ion-item ng-repeat="printer in printers" class="item-avatar" ng-click="openPrintModal(printer)">
            <img src="./img/printer_icon.png">
            <h2>{{printer.name}}</h2>
            <p>{{printer.id}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>


    <!-- Print Modal -->
    <script id="print-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-dark">
          <h1 class="title">Print something</h1>
          <button class="button button-icon" ng-click="printModal.hide()">
            <i class="icon ion-android-close"></i>
          </button>
        </ion-header-bar>
        <ion-content>
          <form name="printform" novalidate ng-submit="printMessage(printform, name)">
            <div class="list list-inset">
              <label class="item item-input">
                <input ng-model="$root.name" type="text" placeholder="From" required ng-minlength="3" ng-maxlength="20">
              </label>
              <label class="item item-input">
                <textarea ng-model="printform.content" rows="5" placeholder="Message" ng-minlength="3" required ng-maxlength="280"></textarea>
              </label>
              <div ng-show="$root.photo !== ''" class="card">
                <div class="item item-text-wrap">
                  <img class="full-image" ng-src="{{$root.photo}}" style="text-align: center">
                  <a class="button button-block icon-center button-icon ion-trash-a" ng-click="removePhoto()"></a>
                </div>
              </div>
              <a class="button button-block icon-center button-icon ion-images" ng-click="choosePhoto()"></a>
              <a class="button button-block icon-center button-icon ion-camera" ng-click="takePhoto()"></a>
              <button type="submit" class="button button-block button-positive">Print Me</button>
            </div>
          </form>
        </ion-content>
      </ion-modal-view>
    </script>

    <!-- Name Modal -->
    <script id="name-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-dark">
          <h1 class="title">Your name</h1>
          <button class="button button-icon" ng-click="nameModal.hide()">
            <i class="icon ion-android-close"></i>
          </button>
        </ion-header-bar>
        <ion-content>
          <div class="card">
            <div class="item item-text-wrap">
              You are <strong>{{name}}</strong>
            </div>
          </div>
          <form name="nameform" novalidate ng-submit="setName(nameform)">
            <div class="list list-inset">
              <label class="item item-input">
                <input ng-model="nameform.name" type="text" placeholder="Name" required ng-minlength="3" ng-maxlength="20">
              </label>
              <button type="submit" class="button button-block button-positive">Set name</button>
            </div>
          </form>
        </ion-content>
      </ion-modal-view>
    </script>
  </body>
</html>
