.App {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.App-intro {
  font-size: large;
}

.video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rh5v-DefaultPlayer_component {
  width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
