#root {
  background-color: black;
}

.App {
}

.dark {
  background-color: black !important;
  opacity: 0 !important;
}

.light {
  background-color: white !important;
  opacity: 1 !important;
}

.color {
  opacity: 1 !important;
  display: block;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.App-intro {
  font-size: large;
}

.video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rh5v-DefaultPlayer_component {
  width: 100vw;
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
